body {
    margin: 0;
    padding: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
}

header{
    background-image: url('/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}

h1{
    margin: 0;
    font-size: 3rem;
}

.header-container p{
    margin: 20px 0;
    font-size: 2rem;
}

.header-container{
    padding: 50px;
    color: white;
}

.menu-item{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

.menu-item-inner{
    display: flex;
}

.menu-item .menu-img{
    font-size: 80px;
    line-height: 0;
    display: inline-block;
}

.menu-item p{
    font-size: 1.5rem;
    color: #8B8B8B;
}

.menu-details{
    margin-left: 30px;
}

.add-to-cart-btn{
    display: block;
    width: 50px;
    height: 50px;
    font-size: 32px;
    border: 2px solid #DEDEDE;
    border-radius: 50px;
    background-color: #fff;
}